body {
  margin: 0;
  padding: 0;
  background-color: #648767;
}

li {
  list-style-type: none;
}

nav a, footer a {
  color: #e2e5df;
  text-shadow: 2px 2px #788475;
  text-decoration: none;
}

a:hover {
  color: #a2c5ac;
  text-shadow: 2px 2px #52796F;
}

nav > ul {
  margin: 0;
  padding: 0;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr 1fr;
  grid-template-areas: 
  "a b c d e f";
  text-align: center;
  font-family: 'Permanent Marker', cursive;
  font-size: 2.5vw;
}

.index {
  grid-area: a;
}

.about {
  grid-area: d;
}

.portfolio {
  grid-area: e;
}

.hobby {
  grid-area: f;
  padding-right: 10px;
}

header, h2 {
  font-family: 'Permanent Marker', cursive;
  margin: 0;
  padding: 10px;
  font-size: 2vw;
  
}

h1 {
  font-family: 'Permanent Marker', cursive;
  font-size: 2.5vw;
  padding: 10px;
  margin: 0;
  
}

p, h3 {
  font-family: 'Overpass', sans-serif;
  padding: 10px;
  margin: 0;
  
}

.parks-blog a {
  color: black;
  font-family: 'Overpass', sans-serif;
  padding: 10px;
  margin: 0;
}

.entry {
  background: #e2e5df;
  justify-content: center;
  max-width: 100%;
  margin: 20px 20px 40px 20px;
  box-shadow: 8px 8px #52796F;
}

.entry img {
  padding: 30px;
  max-width: 50%;
  border-radius: 50% 20% / 10% 40%;
}

.entry p {
  font-size: 2vw;
}

footer > ul {
  margin: 0;
  padding: 0;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  grid-template-areas: 
  "a b c";
  text-align: center;
  font-family: 'Permanent Marker', cursive;
  font-size: 2em;
}